
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">

<link rel="import" href="../shared-styles.html">
<link rel="import" href="../characters/character-list.html">
<link rel="import" href="../characters/character-search.html">


<dom-module id="my-explore">
	<template>
		<style include="shared-styles">
			:host {
				display: block;
				padding: 10px;
			}
      .attribution{
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        padding: 5px;
        z-index: 1;
        background-color: dodgerblue;
        color: white;
        opacity: 0.9;
      }
		</style>
      <div class="attribution">
        "Data provided by Marvel. © 2014 Marvel"
      </div>

      <iron-ajax
        auto
        url="https://gateway.marvel.com:443/v1/public/characters?nameStartsWith={{query}}&apikey=bd930d1fd393489a097ba56fecb5fc15"
        handle-as="json"
        last-response="{{response}}"
        loading="{{loading}}"
      ></iron-ajax>

      <app-localstorage-document 
        id="elstore" 
        key="fav" 
        data="{{favoritos}}"
      ></app-localstorage-document>

			<h1>Personajes</h1>

      <character-search 
        query="[[query]]"
        on-do-search="doSearch"
        loading="[[loading]]"
      ></character-search>

      <character-list
        characters="[[response.data.results]]"
        favoritos="[[favoritos]]"
        on-toggle-fav="toggleFav"
      ></character-list>
	</template>

	<script>
    Polymer({
      is: 'my-explore',
      properties:{
        response: Object,
        query: {
          type: String,
          value: "iron man"
        },
        favoritos: {
          type: Array,
          value: function(){
            return [];
          }
        }
      },
      toggleFav: function(e, data) {
        var index = this.favoritos.indexOf(data.id);
        if(data.isFav && index == -1) {
          this.push('favoritos', data.id);
        }
        if(!data.isFav && index != -1) {
          this.splice('favoritos', index, 1);
        }
        this.$.elstore.save('fav');
        console.log('favs:', this.favoritos)
      },
      doSearch: function(e, query) {
        this.query = query;
      }
    });
  </script>
</dom-module>